services:
  - type: web
    name: portfolio-cms
    env: python
    pythonVersion: 3.10.13

    buildCommand: |
      pip install -r requirements.txt
      python manage.py migrate --noinput
      python manage.py collectstatic --noinput

    startCommand: |
      python manage.py migrate --noinput &&
      python scripts/create_superuser.py &&
      gunicorn portfolio_project.wsgi:application
